.header {
  display: flex;
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;
  border-bottom: #dadada 1px solid;
}
button {
  background-color: #121212;
  margin-top: 10px; /* height */
  margin-bottom: 10px;
  padding-inline: 50px;
  border-radius: 8px;
  /* padding-block: 2px; */
  /* height: 32px; */
  height: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 0;
  color: #ffffff;
}
button:active {
  background-color: #302f2f;
}
/* button:press */
h1 {
  font-size: x-large;
}
