footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #dadada 1px solid;
  padding-block: 73px;
  padding-inline: 24px;
}
h1 {
  font-size: 24px;
  letter-spacing: -0.02em;
  /* font-weight: 600; */
}
